#title {
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
}

#menu_information {
  font-family: "Roboto";
  font-size: 30px;
}

#menu_button {
  font-family: "Roboto";
  font-size: 25px;
}
#menu_button2 {
  font-family: "Roboto";
  font-size: 25px;
}
